# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\laravel Project\laravel8_tutorial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
